*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
    overflow: hidden;
}

.navigation{
    margin-top: 15px;
    display: flex;
    justify-content:space-between;
    
}

.logo-container h4{
    font-size: 22px;
    color: #fd7100;
    padding: 15px;
    letter-spacing: 0.5px;
    margin-left: 10px
}

.navbar ul{
    margin-left: 60px;
    display: flex;
   
    
}

.navbar ul li{
    
    margin: 20px;
    list-style-type: none;
}

.navbar ul li a{
    
    text-decoration: none;
    color: white;
    
}
.navbar ul li a:hover{
    color: #f97c15;
}

#search-box{
    border: solid #fd7100 0.5px;
    width: 230px;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    
    
}

.side-bar input {
    
    border-radius: 8px;
    color: white;
    background-color: black;
    

    
}

.side-bar input::placeholder{
    color: white;
    font-size: 12px;
    font-weight: 100;
}



.side-bar button {

    margin-right: 120px;
    width: 90px;
    height: 40px;
    border: #fd7100;
    background-color: #fd7100;
    border-radius: 5px;
    color: white;
    /* position: absolute; */
    
}


    

.content {
    display: inline-block;
    padding: 15px;
    margin-top: 110px;
}

.white{

    font-size: 60px;
    color: white;
    margin-left: 15px;

}
.black{

    font-size: 60px;
    color: #fd7100;
    margin-left: 15px;
}

.form{
    
    margin-left: 850px;
    border: solid black 1px;
    border-radius: 20px;
    height: 380px;
    width: 330px;
    padding: 20px;
    background-color: black;
    top: -350px;
    position: relative;
    /* margin-left: 25px;  */

}
.form input::placeholder{
    color: white;
}


form {
    display: inline-block;
    align-content: center;
    color: white;
    font-size: 18px;
    
    

}
form h3 {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    margin-left: 30px;
    background-color: white
    
    
    

    
}
form input{
    margin: 10px;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid white;
    width: 250px;
    background-color: black;


}
 form button{
    width: 20vw;
    height: 42px;
    margin-left: 15px;
    background-color: #fd7100;
    border: #fd7100;
    border-radius: 8px;
    font-weight: bolder;
    color: black;
} 

#form-btn{
    width: 20vw;
    height: 42px;
    margin-left: 15px;
    background-color: white;
    border: #fd7100;
    border-radius: 8px;
    font-weight: bold;
    color: #f97c15;
    font-weight: bolder;
}   

form p{
    
    text-align: center;
}

.span {
    color: red;
}
.content p{
    color: white;
    margin-left: 15px;
}
.content button{
    margin-left: 15px;
    width: 15vw;
    height: 42px;
    
    background-color:#fd7100;
    border: #fd7100;
    border-radius: 8px;
    
}

.container{
    
    background-image: linear-gradient(rgba(0,0,0,00.5),rgba(0,0,0,0.5)), url(images/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}









